<!-- Footer Section -->
<footer class="footer-container">
    <div class="footer-links">
        <div class="footerlink-wrapper">
            <div class="footerlink-items">
                <a href="/"> <img src="assets/images/product/beans-logo.png" id="footer--logo"></a>
                <a href="/">hello@trybeans.com</a>
                <a href="/"> 650-449-7300 </a>
                <a href="/"> <img src="assets/images/product/social-icons.png" /><img /></a>
            </div>
            <div class="footerlink-items">
                <a href="/">SOLUTIONS</a>
                <a href="/">Rewards program</a>
                <a href="index.html">Social Media Automation</a>
                <a href="/">Referral program</a>
                <a href="/">Smart Popups</a>
                <a href="/">Notification Widget</a>
                <a href="foxx.html">Marketing Emails</a>
            </div>
            <div class="footerlink-items">
                <a href="/">RESOURCES</a>
                <a href="/">Customers</a>
                <a href="/">Request a demo</a>
                <a href="/">Help Center</a>
                <a href="/">API</a>
            </div>
        </div>
        <div class="footerlink-wrapper">
            <div class="footerlink-items">
                <a href="/">BLOG</a>
                <a href="/">Market Research</a>
                <a href="/">How to</a>
                <a href="/">Apps & tools</a>
                <a href="/">Interview</a>
            </div>
            <div class="footerlink-items">
                <a href="/">COMPANY</a>
                <a href="/">About Us</a>
                <a href="/">Privacy policy</a>
                <a href="/">Terms of use</a>
                <a href="/">Contact us</a>
            </div>
        </div>
    </div>
</footer>