<!--Navbar -->
<header class="navbar">
    <div class="navbar-container">
        <div id="beans-logo">
            <img src="assets/images/logo.png" alt="beanslogo" title="The Beans Logo" />
        </div>
        <div class="navbar-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="navbar-menu">
            <li class="navbar-item">
                <a href="#product" class="navbar-links" id="product-page" title="the navbar link">Product</a>
            </li>
            <li class="navbar-item">
                <a href="#pricing" class="navbar-links" id="pricing-page" title="the navbar link">Pricing</a>
            </li>
            <li class="navbar-item">
                <a href="#customers" class="navbar-links" id="customers-page" title="the navbar link">Customers</a>
            </li>
            <li class="navbar-item">
                <a href="#blog" class="navbar-links" id="blog-page" title="the navbar link">Blog</a>
            </li>
            <li class="navbar-btn">
                <a href="#login" class="button" id="login" title="the navbar link">Login</a>
            </li>
        </ul>
    </div>
</header>
<hr />