{% extends "layouts/foxx-layout.html" %} {% block content %}

<!-- Main -->
<main>
    <!-- Hero Section -->
    <section class="hero-section">
        <div class="hero-image">
            <div class="smaller-hero">
                <div class="blank">
                    <img src="../../assets/images/product/product-hero-1.png" alt="first hero image" 
                    title="small hero image" />
                </div>
                <div class="colored">
                    <img src="../../assets/images/product/product-hero-2.png" alt="second hero image" 
                    title="second small hero image"/>
                </div>
                <div class="colored">
                    <img src="../../assets/images/product/product-hero-3.png" alt="third hero image" 
                    title="theird small hero image" />
                </div>
            </div>
            <div class="bigger-hero">
                <img src="../../assets/images/product/hero-main.png" alt="main hero image" 
                title="biggest hero image" />
            </div>
        </div>
        <div class="hero-text">
            <p>Email Automation</p>
            <h1>Super-targeted automated emails that drive sales</h1>
            <img src="../../assets/images/product/star-text.png" class="star" alt="star" 
            title="five star ratings" />
            <h2> Reach out to customers with highly relevant 
                offers at the moment they are most likely to shop 
            </h2>
            <button class="main-btn"><a href="#" title="button"> Get Started</a></button>
        </div>
    </section>

    <!-- Setup Section -->
    <section class="setup">
        <header class="setup-intro-text">
            <h1>Set up and get ready in only 3 steps</h1>
        </header>
        <div class="setup-text-image">
            <div class="how-it-works">
                <div class="colored-one">
                    <img src="../../assets/images/product/colored-bone.png" class="number-image1" 
                    alt="colored one" title="number one colored blue"/>
                    <div class="" id="line-under-1"></div>
                </div>
                <div class="colored-two">
                    <img src="../../assets/images/product/colored-btwo.png"   class="number-image-1" 
                    id="number-image-2"  alt="colored two" title="number two colored blue"/>
                    <div class="" id="line-under-2"></div>
                </div>
                <div class="colored-three">
                    <img src="../../assets/images/product/colored-bthree.png" class="number-image-1" 
                    id="number-image-3" alt="colored three" title="number three colored blue"/>
                    <div class="" id="line-under-3"></div>
                </div>
            </div>
            <div class="setup-text">
                <div class="segment">
                    <h1>Segment</h1>
                    <p>Segment customers by behavior</p>
                    <img src="../../assets/images/product/segment-customers.png" class="segment-image" 
                    alt="segment customers" title="image explaining segmentng customers"/>
                </div>
                <div class="design">
                    <h1>Design</h1>
                    <p>Design marketing emails</p>
                    <img src="../../assets/images/product/message-box.png" class="design-image" 
                    alt="message box" title="image of a message inbox" />
                </div>
                <div class="measure">
                    <h1>Measure</h1>
                    <p>Email gets delivered to the customer at the right moment</p>
                    <img src="../../assets/images/product/send-email.png" class="measure-image" 
                    alt="send email" title="a send button image"/>
                </div>
            </div>
            <div class="setup-image">
                <img src="../../assets/images/product/message-box.png" class="message-box" 
                alt="message box" title="image of a message inbox"/>
            </div>
        </div>
    </section>

    <!-- Marketing Container -->
    <section id="marketing">
        <header class="marketing-intro-text">
            <h1>Get everything you need to earn more</h1>
        </header>
        <div class="marketing-container">
            <div class="marketing-header">
                <h1>Sell more with behavioral emails</h1>
                <p>Create beautiful professional-looking emails with no technical expertise</p>
            </div>
            <div class="marketing-image">
                <div class="blurred-text">
                    <div class="small-frame">
                        <div class="mobile-display"> 
                            <span> 
                                <img src="../../assets/images/product/blurred-male.png" class="ellipse1" 
                                alt="blurred male" title="image of a blurred man" /> 
                            </span>
                            <span> 
                                <img src="../../assets/images/product/blurred-female.png" class="ellipse2" 
                                alt="blurred female" title="image of a blurred woman" /> 
                            </span>
                            <div class="ellipses">
                                <span>
                                    <img src="../../assets/images/product/blurred-female.png" 
                                    class="ellipse3" alt="blurred female" title="image of a blurred woman" /> 
                                </span>
                                <span> 
                                    <img src="../../assets/images/product/blurred-male.png" 
                                    class="ellipse4" alt="blurred male" title="image of a blurred man" /> 
                                </span>
                                <span> 
                                    <img src="../../assets/images/product/blurred-female.png" 
                                    class="ellipse4" alt="blurred female" title="image of a blurred woman"/> 
                                </span>
                                <span>
                                    <img src="../../assets/images/product/blurred-female.png" 
                                    class="ellipse5" alt="blurred female" title="image of a blurred woman"/> 
                                </span>
                            </div>
                        </div>
                        <div>
                            <span> 
                                <img src="../../assets/images/product/circled-lady.png" class="ellipse6" 
                                alt="circle female" title="image of a smilling lady in a circle"/>
                            </span>
                            <span> 
                                <img src="../../assets/images/product/kate-carol.png" class="ellipse7" 
                                alt="kate carol" title="a lady named kate carol"/>
                            </span>
                        </div> 
                    </div>
                    <div class="marketing-text">
                        <h1>Target based on buying habits</h1>
                        <p>Segment by last purchase, average order value, order frequency</p>
                        <img src="../../assets/images/product/green-light.png" class="greenline" 
                        alt="green border" title="a light green border"/> 
                        <h3>Target based on user preference</h3>
                        <h2>Target based on browsing habits</h2>                    
                    </div>
                </div>      
            </div>      
        </div>
    </section> 

    <!-- Social Section -->
    <section class="social-section">
        <div class="social-intro-text">
            <h1>Design gorgeous emails</h1>
            <p>Create beautiful professional-looking emails with no technical expertise</p>
        </div>
        <div class="social-text-image">
            <div class="social-text">
                <h4>Leverage templates</h4>
                <p>Make it personal </p>
                <h1>Personalize your popup to match your brand image</h1>  
                <img src="../../assets/images/product/green-light.png" class="green-line" 
                alt="green border" title="a light green border"/> 
                <h3>Minimize bounce rate</h3>                
            </div>           
            <div class="social-image">
                <img src="../../assets/images/product/flash.png" 
                alt="flash image" title="a promotion email with flash written on it" />
            </div>
        </div>
    </section>

    <!--Account Section-->
    <section id="account-container">
        <div class="account-intro-text">
            <h1> Measure your performance</h1>
            <h2> A set of predefined rules helps you reward customers for actions that profit your business </h2>
        </div>
        <div class="account-text-image">
            <div class="account-image">
                <img src="../../assets/images/product/graph.png" alt="graph" title="an image of a graph"/>
            </div>
            <div class="account-text">
                <p>Track posts engagements </p> 
                <h3>Understand how customers are interacting with your posts</h3>
                <img src="../../assets/images/product/green-light.png" class="accountline" 
                alt="green border" title="a light green border"/> 
                <h2>Track traffic</h2>
                <h1>Track purchases</h1>
            </div>
        </div>
    </section>

    <!-- Tools Section -->
    <section id="tools-container">
        <header class="tools-header">
            <h1>Work with tools you were already using</h1>
        </header>
        <div class="tools-images">
            <div class="foxx-logo" > <img src="../../assets/images/product/foxx-logo.png" 
                alt="foxx logo" title="the logo of the foxx application"/> </div>
            <div class="foxx-line"> <img src="../../assets/images/product/green-yellow.png" 
                alt="greenish yellow border" title="the border between foxx and the social media logo"/> </div>
        </div>
        <div class="logo-tools">
            <div class="thirdparty"> 
                <img src="../../assets/images/product/judge-me-logo.png" 
                alt="judgeme logo" title="judgeme logo"/> 
                <img src="../../assets/images/product/klaviyo-logo.png" 
                alt="klaviyo logo" title="klaviyo logo"/> 
                <img src="../../assets/images/product/instagram-logo.png" 
                alt="instagram logo" title="instagram logo"/> 
                <img src="../../assets/images/product/facebook-logo.png" 
                alt="facebook logo" title="facebook logo"/> 
                <img src="../../assets/images/product/twitter-logo.png" 
                alt="twitter logo" title="twitter logo"/> 
            </div>
            <div class="thirdparty-2"> 
                <img src="../../assets/images/product/sendinblue-logo.png" 
                alt="sendinblue logo" title="sendinblue logo"/> 
                <img src="../../assets/images/product/smile-logo.png" 
                alt="smile logo" title="smile logo"/> 
                <img src="../../assets/images/product/constant-logo.png" 
                alt="constant logo" title="constant logo"/> 
                <img src="../../assets/images/product/mailchimp-logo.png" 
                alt="mailchimp logo" title="mailchimp logo"/> 
                <img src="../../assets/images/product/ss-logo.png" 
                alt="second sendinblue logo" title="second sendinblue logo"/> 
            </div>     
        </div>
    </section>

    <!-- Socialproof Section -->
    <section class="socialproof-container">
        <div class="socialproof-text">
            <h1>We have the most cute customers</h1>
            <h2>+1200 happy customers love us because of the simple setting up and the reactivity of our support</h2>    
        </div>
        <div class="socialproof-images">
            <div class="socialproof-images-1">
                <img src="../../assets/images/product/logo-usimplyreason.png" 
                alt="logo-usimplyreason" title="logo-usimplyreason"/> 
                <img src="../../assets/images/product/dana-logo.png" 
                alt="dana logo" title="dana logo" /> 
                <img src="../../assets/images/product/paula-logo.png" 
                alt="paula logo" title="paula logo" /> 
                <img src="../../assets/images/product/daisy-logo.png" 
                alt="daisy logo" title="daisy logo"/> 
            </div>
            <div class="socialproof-images-2">
                <img src="../../assets/images/product/eternally-logo.png" 
                alt="eternally logo" title="eternally logo"/> 
                <img src="../../assets/images/product/divine-logo.png" 
                alt="divine logo" title="divine logo"/> 
                <img src="../../assets/images/product/ozone-logo.png" 
                alt="ozone logo" title="ozone logo"/> 
                <img src="../../assets/images/product/opal-logo.png" 
                alt="opal logo" title="opal logo"/> 
            </div>
        </div>
    </section>

    <!-- Reviews Section -->
    <section class="reviews"> 
        <div class="review1">
            <img src="../../assets/images/product/first-review.png" 
            alt="reviews" title="the first product review"/> 
        </div>
        <div class="review2">
            <img src="../../assets/images/product/second-review.png" 
            alt="reviews" title="the second product review"/>
        </div>
        <div class="review3">
            <img src="../../assets/images/product/third-review.png" 
            alt="reviews" title="the third product review"/> 
        </div>
        <div class="review4">
            <img src="../../assets/images/product/fourth-review.png" 
            alt="reviews" title="the fourth product review"/> 
        </div>
    </section>

    <!-- Business Section -->
    <div id="business-container">
        <h1>Ready to grow your business ?</h1>
        <button> <a href="#" title="get started with the beans app"> Get Started</a> </button>
    </div> 
</main>
{% endblock %}