{% extends "layouts/layout.html" %} {% block content %}

<!-- Main -->
<main>
    <!-- Hero Section -->
    <section class="hero">
        <div class="hero-container">
            <div class="hero-image">
                <div class="hero-small-image">
                    <div class="blank">
                        <img src="/assets/images/product/product-hero-1.png" alt="first hero image" title="first hero image" />
                    </div>
                    <div class="colored">
                        <img src="/assets/images/product/product-hero-2.png" alt="second hero image" title="second hero image" />
                    </div>
                    <div class="colored">
                        <img src="/assets/images/product/product-hero-3.png" alt="third hero image" title="third hero image" />
                    </div>
                </div>
                <div class="hero-big-image">
                    <img src="/assets/images/product/hero-main.png" alt="main image" title="main image" />
                </div>
            </div>
            <div class="hero-text">
                <h1>Social media automation</h1>
                <p>Save time managing social media for your shop</p>
                <img src="/assets/images/product/star-text.png" class="star" alt="ratings" title="five star ratings" />
                <h2>Automatically let customers know about new products and promotions in your shop</h2>
                <button class="main-btn">
                    <a href="#">Try Now</a>
                </button>
            </div>
        </div>
    </section>

    <!-- Setup Section -->
    <section class="setup">
        <header class="setup-intro-text">
            <h1>Set up and get ready in only 3 steps</h1>
        </header>
        <div class="setup-text-image">
            <div class="how-it-works">
                <div class="colored-one">
                    <img src="/assets/images/product/colored-one.png" class="number-image-1" alt="colored number" title="colored one" />
                    <div class="" id="line-under-1"></div>
                </div>
                <div class="colored-two">
                    <img src="/assets/images/product/colored-two.png" class="number-image-1" id="number-image-2" alt="colored number" title="colored two" />
                    <div class="" id="line-under-2"></div>
                </div>
                <div class="colored-three">
                    <img src="/assets/images/product/colored-three.png" class="number-image-1" id="number-image-3" alt="colored number" title="colored three" />
                    <div class="" id="line-under-3"></div>
                </div>
            </div>
            <div class="setup-text">
                <div class="connect">
                    <h1>Connect</h1>
                    <p>Connect your shop to your social media accounts</p>
                    <img src="/assets/images/product/smedia-shadow.png" class="design" alt="shadow of main pic" title="shadow of main pic" />
                </div>
                <div class="set">
                    <h1>Set</h1>
                    <p>Use rules to define how products and events will be posted</p>
                    <img src="/assets/images/product/twitter-post.png" class="design" alt="twitter post" title="a twitter post" />
                </div>
                <div class="measure">
                    <h1>Measure</h1>
                    <p>Get detailed analytics on how your posts performed</p>
                    <img src="/assets/images/product/bar-chart.png" class="deliver" alt="bar chart" title="analytics of revenue" />
                </div>
            </div>
            <div class="setup-image">
                <img src="/assets/images/product/twitter-post.png" class="twitter-post" alt="twitter post" title="a twitter post" />
            </div>
        </div>
    </section>

    <!--Marketing Section-->
    <section class="marketing">
        <div class="marketing-intro">
            <h1>Get everything you need to earn more</h1>
        </div>
        <div class="marketing-container">
            <div class="manage-account">
                <h1>Manage multiple social media account</h1>
                <p>Save time switching from one social media to another</p>
            </div>
            <div class="marketing-image-text">
                <div class="marketing-image">
                    <img src="/assets/images/product/headset.png" class="marketing-image" />
                </div>
                <div class="marketing-text">
                    <span>
                        <p>Automate Facebook marketing</p>
                    </span>
                    <h1>Automate Twitter marketing </h1>
                    <h2>Referrers get discount codes that they can use during their purchases </h2>
                    <img src="/assets/images/product/pink-light.png" class=pink-line>
                    <h3>Automate Pinterest marketing</h3>
                </div>
            </div>
        </div>
    </section>

    <!-- Social Section -->
    <section class="social">
        <div class="social-text-image">
            <div class="social-intro-text">
                <h1>Announce important events</h1>
                <p>Automate posts for eveything important happening on your shop</p>
            </div>
            <div class="social-text">
                <span>
                    <img src="/assets/images/product/black-tick.png" class="check" />
                </span>
                <p>Announce new products</p>
                <h1>Let customers know about new products in your store</h1>
                <img src="/assets/images/product/pink-light.png" class=pink-line> <img />
                <h2>Announce new promotions</h2>
                <h3>Announce new programs and campaigns</h3>
            </div>
        </div>
        <div class="social-image">
            <img src="/assets/images/product/hatling.png" />
        </div>
    </section>

    <!-- Account Section -->
    <section id="account">
        <div class="account-intro-text">
            <h1> Measure your performance </h1>
            <h2> Review your analytics to see how your posts are performing </h2>
        </div>
        <div class="account-text-image">
            <div class="account-image">
                <img src="/assets/images/product/performance-chart.png">
            </div>
            <div class="account-text">
                <p>Track posts engagements </p>
                <h3>Understand how customers are interacting with your posts</h3>
                <img src="/assets/images/product/pink-light.png" class=pink-light>
                <h2>Track traffic</h2>
                <h1>Track purchases</h1>
            </div>
        </div>
    </section>

    <!-- Tools Section -->
    <section id="tools-container">
        <header class="tools-header">
            <h1>Work with tools you were already using</h1>
        </header>
        <div class="logo-tools">
            <div class="tools-images">
                <div class="lotus"> <img src="/assets/images/product/lotus-logo.png" /> </div>
                <div class="lotus-line"> <img src="/assets/images/product/pink-yellow.png" /></div>
            </div>
            <div class="logo-container">
                <img src="/assets/images/product/logo-container.png" class="integration-logo" /> <img />
            </div>
        </div>
    </section>

    <!-- Twotags Section -->
    <section id="twotags-container">
        <div class="twotags-text">
            <h1>Look at how beautiful our pages are on existing shop</h1>
            <p>+1200 happy customers love us because of the simple setting up and the reactivity of our support</p>
        </div>
        <div class="twotags-image">
            <img src="/assets/images/product/twotags-display.png" />
        </div>
    </section>

    <!-- Social-Proof Section -->
    <section class="socialproof-container">
        <div class="socialproof-text">
            <h1>We have the most cute customers</h1>
            <h2>+1200 happy customers love us because of the simple setting up and the reactivity of our support</h2>
        </div>
        <div class="socialproof-images">
            <div class="socialproof-images-1">
                <img src="/assets/images/product/logo-usimplyreason.png" />
                <img src="/assets/images/product/dana-logo.png" />
                <img src="/assets/images/product/paula-logo.png" />
                <img src="/assets/images/product/daisy-logo.png" />
            </div>
            <div class="socialproof-images-2">
                <img src="/assets/images/product/eternally-logo.png" />
                <img src="/assets/images/product/divine-logo.png" />
                <img src="/assets/images/product/ozone-logo.png" />
                <img src="/assets/images/product/opal-logo.png" />
            </div>
        </div>
    </section>

    <!-- Review Section -->
    <section class="reviews">
        <div class="first-review"><img src="/assets/images/product/first-review.png" /> </div>
        <div class="second-review"><img src="/assets/images/product/second-review.png" /> </div>
        <div class="third-review"><img src="/assets/images/product/third-review.png" /> </div>
        <div class="fourth-review"><img src="/assets/images/product/fourth-review.png" /> </div>
    </section>

    <!-- Business Container -->
    <div id="business-container">
        <h1>Ready to grow your business ?</h1>
        <button> <a href="#"> Get Started</a> </button>
    </div>
</main>
{% endblock %}